.container{
    width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
}

.form__group{
    margin-bottom: 20px;
}

label{
    margin-bottom: 5px;
}

input{
    padding: 6px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
}