.calendar{
    width: 40%;
}

.calendar-container {
    max-width: 480px;

}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 24px;
    background-color: var(--blue-color);
    color: #fff;
    margin-bottom: 24px;
}

.calendar-nav {
    background: none;
    border: none;
    cursor: pointer;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.calendar-day-header {
    text-align: center;
    padding: 5px;
}

.calendar-day {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    color: var(--dark-color);
}

.calendar-day:hover {
    background-color: var(--blue-color);
    color: #fff;
}

.calendar-day.other-month {
    color: #ccc;
}

.calendar-day.selected {
    background-color: var(--blue-color);
    color: white;
}

.calendar-day.today {
    border: 2px solid var(--blue-color);
}

#selected-date {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.4;
    color: #242A38;
}

#selected-date-text {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    background-color: #FF6B00;
}