$font-size: 16px;
$font-color: #6C6F75;
$blue-color: #2F5DD3;
$bg-color: #F3F4F7;
$darak-color: #242A38;

:root{
    --font-size: 16px;
    --font-color: #6C6F75;
    --blue-color: #2F5DD3;
    --bg-color: #F3F4F7;
    --dark-color: #242A38;
}