@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #0E0E0E;
    --font-color: #DAC5A7;
}

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 180%;
    font-weight: 400;
    color: var(--font-color);
    background-color: var(--background-color);
}

h1{
    font-size: 64px;
    line-height: 110%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 32px;
}

h3{
    font-size: 24px;
    line-height: 130%;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 8px;
}

section{
    margin: 0 auto 100px;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.menu__wrap{
    width: 100%;
    max-width: 430px;
    margin: 48px auto;
    padding: 12px 12px 12px 24px;
    background-color: #181716;
    border: 1px solid #35312C;
    border-radius: 2px;
}

.menu__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.menu__list-btn{
    background-color: #DAC5A7;
    color: #0E0E0E;
    padding: 12px 16px;
    border-radius: 2px;
}

.area1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;
    background-image: url('../img/main.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 140px 0;
}

.area1__title{
    max-width: 670px;
    margin: 0 auto 30px;
    font-size: 120px;
    font-weight: 300;
    line-height: 100%;
}

.area1__text{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 48px;
}

.area1__btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 200;
}

.area1__btn-arrow{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4f2c21;
    border-radius: 50%;
}

.area2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.area2__item{
    width: 33%;
    padding: 48px;
    background-color: #181716;
    border: 1px solid #35312c;
    border-radius: 2px;
}