@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #090C13;
    --font-color: #FFFFFF;
    --border: 1px solid #867a8c;
    --btn-color: #4C56F5;
    --btn-hover: #5e35cf;
}

body {
    height: 100vh;
    font-family: 'Geologica', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 200;
    color: var(--font-color);
    background-color: var(--background-color);
}

h1{
    font-size: 64px;
    line-height: 110%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;
}

h3{
    font-size: 24px;
    line-height: 130%;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 8px;
}

section{
    margin: 0 auto 200px;
}

.header{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-bottom: 140px;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.bg__video{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100vw;
    opacity: .4;
    z-index: -1;
}

.menu__bg{
    width: 100%;
    padding: 24px 0;
    background-color: rgba(112, 73, 221, .1);
    /* position: fixed; */
    z-index: 1;
}

.menu__wrap{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.menu__list li{
    display: block;
    transition: all 1s;
}

.menu__list li:hover{
    border-bottom: 1px solid var(--font-color);
}

.menu__list li:hover:last-child{
    border-bottom: none;
}

.btn{
    color: var(--font-color);
    background-color: var(--btn-color);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover{
    background-color: var(--btn-hover);
}

.menu__list-divider{
    width: 1px;
    height: 15px;
    background-color: #fff;
    opacity: .5;
}

.area1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area1__title{
    max-width: 750px;
    margin: 150px auto 10px;
    font-size: 120px;
    font-weight: 100;
    line-height: 110%;
}

.area1__text{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 48px;
    opacity: .6;
}

.area1__btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 200;
}

.area1__btn-arrow{
    width: 48px;
    height: 48px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: 50%;
    transition: all .3s;
    fill: var(--font-color);
}

.area1__btn-arrow:hover{
    background-color: var(--btn-hover);
    border: var(--border);
    fill: var(--font-color);
}

.area2__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.area2__item{
    width: 33%;
    height: 250px;
    padding: 48px;
    background-color: #0e1426;
    border-radius: 4px;
}

.area3__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 50px;
}

.area3__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area3__item img{
    border-radius: 16px;
    border: var(--border);
    margin-bottom: 16px;
}

.area4__text{
    line-height: 1.2;
    margin: 0 auto 32px;
    max-width: 550px;
    text-align: center;
}

.area4__items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 40px;
}

.area4__item{
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.area4__item-icon{
    width: 90px;
    height: 90px;
    fill: var(--font-color);
}

.area4__item-text{
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.area5__form{
    width: 100%;
    max-width: 500px;
}

.form__item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.area5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area5__form input{
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.area5__form textarea{
    height: 140px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}

/*---Logos Slider start---*/
@keyframes scroll {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(calc(-250px * 10));
}
}
.slider__fn {
    height: 100px;
    overflow: hidden;
    position: relative;
}

.slider__fn .slide-track__fn {
    animation: scroll 35s linear infinite;
    display: flex;
    width: calc(250px * 20);
}

.slider__fn .slide__fn {
    display: flex;
    align-items: center;
    height: 120px;
    width: 250px;
}
/*---Logos Slider end---*/

.footer{
    text-align: center;
    border-top: var(--border);
    padding: 100px;
}

@media (max-width: 480px) {

    section{
        margin: 0 auto 50px;
    }

    .area2__items{
        flex-direction: column;
    }

    .area2__item{
        width: 100%;
        padding: 16px;
        height: auto;
    }
}